* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-image: url('./assets/bg.jpg');
  background-size: 100% auto; /*width height*/
  background-repeat: no-repeat; /*keyword*/
  background-position: top center; /* vertical (Y) horizontal (X)*/
  background-color: #121214; /* HEX: RR, GG, BB*/
  color: white;
}

body *, :root {
  font-family: "Inter";
  line-height: 160%;
}

header {
  padding-top: 2rem; /*2rem = a 32 px 1rem = 16px*/
  text-align: center;
}

header img {
  width: 15rem;
}

main {
  max-width: 36rem;
  width: 90%;
  margin: 3rem auto;
}

section {
  background-image: linear-gradient(90deg, #9572fc 0%, #43e7ad 50%, #e2d45c 100%);
  border-radius: 0.625rem;
  padding-top: 4px;
}

section > div {
  padding: 2rem;
  padding-top: 1.5rem;
  border-radius: 0.5rem;
  background-color: #2a2634;
}

section h2 {
letter-spacing: -0.47px;
}

section p {
letter-spacing: -0.18px;
color: #a1a1aa;
}

/* Animações */
main section {
  opacity: 0;
  transform: translateY(2rem);

  animation-name: appear;
  animation-duration: 700ms;
  animation-fill-mode: forwards;
}


@keyframes appear {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

form {
  
}